Create a policy
<%= form_for @policy do |policy| %>
  <p>
   <%= policy.label :name %>
   <%= polci.name :name %>
   </p>
  <p>
  	<%= policy.label :premium %>
  	<%= policy.name :premium %>
  </p>
  <p> 
  	<%= policy.submit "Register" %>
  </p>
 <% end %>
